$clr1: rgb(255, 254, 254);
$clr2: #dbdbdb;
$clr3: rgb(10, 175, 10);
$clr4: red;
$clr5: #000000DE;
$clr6: rgb(4, 121, 255);
$clr7: yellow;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;