.home-page {
    // text-align: center;

    .catalogs-list {
        display: grid;
        /* grid-auto-flow: column; */
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 15px;
    }
}
