.app {
    margin-top: 80px;
    text-align: center;

    .item-app {
        // text-align: center;
    }
    
    // .not-up-section {
    //     display: flex;
    //     justify-content: space-around
    // }
}

h1 {
    color: $clr4;
}
